<section class="row g-3 g-md-5 pb-md-5 mb-5 align-items-center">
  <div class="col-lg-6 d-flex">
    <div class="masthead-followup-icon d-inline-block mb-3 me-3" style="--bg-rgb: var(--bd-teal-rgb);">
      {{ partial "icons/apps-icon.svg" (dict "width" "32" "height" "32") }}
    </div>
    <h2 class="display-5 mb-3 fw-semibold lh-sm">Apps</h2>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <a class="app-card col-lg-4" href="https://flomi.sipt.top">
        <div class="row align-items-center pe-2 pt-2">
          <div class="col-lg-3">
            <img src="/assets/logos/flomi-logo.png" width="100" height="100"  class="d-block mx-auto mb-3">
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-9">
                <h3>Flomi</h3>
              </div>
              <div class="col-lg-1">
              <svg class="bi ms-2 me-2 my-1 os-icon-active" width="32" height="32"><use href="#apple"></use></svg>
              </div>
              <div class="col-lg-1">
              <svg class="bi ms-2 me-2 my-1 os-icon-active" width="32" height="32"><use href="#windows"></use></svg>
              </div>
            </div>
            <p>Powerful, extensible, and feature-packed productivity toolkit. Use multiple imported or custom Jobs to build a diverse Pipeline to automate tasks.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
